input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/*SECTIONS*/

.blue-section {
	box-shadow: inset 6px 0px 20px 0px rgba(62,102,135,0.75);
	background: #6daadc;
	color:#fff;
	width:50%;
	height:100%;
	float:left;
	position:relative;
	overflow: hidden;
}

.blue-section{
	background-image: url('images/s1.png'), url('images/s2.png'), url('images/s3.png');
	-webkit-animation: snow 30s linear infinite;
	-moz-animation: snow 30s linear infinite;
	-ms-animation: snow 30s linear infinite;
	animation: snow 30s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 654px 880px, 0px 386px, -287px 288px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 654px 880px, 0px 386px, -287px 288px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 654px 880px, 0px 386px, -287px 288px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 654px 880px, 0px 386px, -287px 288px;}
}	

.firstBlueScreen {
	position:relative;
	height:100%;
    background: url("images/snowtrees.png") repeat-x;
    background-position: bottom;
    background-size: 300px;
}


.blueScreenScroll {
	overflow-y: auto;
	overflow-x: hidden;
    height: 100%;
}

.blueScreen {
	overflow:hidden;
	padding: 15% 50px;
}

.blue-section h1 {
	font-weight:900;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(65, 130, 170, 1);
}

.blue-section p {
	color: #fff;
	text-shadow: 0px 1px 2px rgba(65, 130, 170, 1);
	font-size: 1.2rem;
}

.redbutton {
	background: #ee3124;
	padding:15px;
	margin: 15px;
	display: inline-block;
	border-radius:15px;
	cursor: pointer;
	border: none;
	color: #fff;
	font-weight: 900;
	border: 3px solid white;
	transition: 0.25s background ease;
	font-size: 1.2rem;
}

.redbutton:hover {
	background: #f26a4a;
}

.redbutton small {
	font-weight:300;
	font-size: 0.9rem;
}


.donationlevelgroup {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}


.redbutton.donationlevel {
	max-width:125px;
	flex:1 1 125px;
}


.donationlevel .donationamount {
	font-size: 2.1rem;
}

.otheramountwrapper {
	display:block;
	margin: 25px 0px;
}

.otherdonatebutton:focus, .otheramount:focus{
    outline: none;
}

.otheramount {
	background: #fff;
	font-size: 1.5rem;
	font-weight: 900;
	color: #ee3124;
	border-radius: 10px;
	border: solid 3px #fff;
	flex:2;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	text-align:center;
	max-width: 50%;
	display:inline-block;

}

.otheramount::placeholder {
	color: #6daadc;
	text-align:center;
}

.otherdonatebuttonwrapper {
	display:inline-block;
}

.otherdonatebutton {
	border-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border: 3px solid #fff;
	background: transparent;
	font-size: 1.5rem;
	height:100%;
	color: #fff;
	font-weight:900;
	display:inline-block;
}

.withotheramount .otherdonatebutton {
	background:#ee3124;
	cursor: pointer;
}

.ghostbutton {
	background: transparent;
	padding:15px;
	margin: 15px;
	display: inline-block;
	border-radius:15px;
	cursor: pointer;
	color: #fff;
	border: 3px solid #fff;
	font-size: 1.2rem;
	font-weight: 900;
	transition: 0.25s background ease;
	transition: 0.25s color ease;
}

.ghostbutton:hover {
	background:#fff;
	color: #6daadc;
}



.withotheramount .donationlevel {
	background:transparent;
}

.donationlevel:hover {
	background: #f26a4a;
}



.logo {
	width:400px;
	max-width:80%;
}


.img-responsive {
	width:100%;
}

.linkbutton {
	display:block;
	background:transparent;
	border:none;
	color:#fff;
	font-size: 1.2rem;
	text-decoration: underline;
	font-weight:600;
	margin:0 auto;
	padding-top:20px;
	cursor: pointer;
	transition: color 0.25s ease-in;
}

.linkbutton:hover {
	color: #ee3124;
	text-decoration: none;
}





.socialicons {
	display:flex;
	justify-content: space-around;
	margin: 20px 0;
	position: absolute;
	bottom:10px;
	width:100%;
}

.icon {
	cursor: pointer;
	position:relative;
	display:inline-block;
	margin: 0 20px;
}

.facebook {
	cursor: pointer;
    width: 50px; height: 50px;
    background: url('images/social-sprites.png') -80px -10px;
}

.facebook:hover {
    width: 50px; height: 50px;
    background: url('images/social-sprites.png') -10px -10px;
}

.twitter {
	cursor: pointer;
    width: 50px; height: 50px;
    background: url('images/social-sprites.png') -150px -80px;
}

.twitter:hover {
    width: 50px; height: 50px;
    background: url('images/social-sprites.png') -150px -10px;
}

.google {
	cursor: pointer;
    width: 50px; height: 50px;
    background: url('images/social-sprites.png') -80px -80px;
}

.google:hover {
    width: 50px; height: 50px;
    background: url('images/social-sprites.png') -10px -80px;
}





@media (max-width: 768px) {

	.blue-section h1 {
		font-size:1.5rem;
	}

	.blue-section p {
		font-size:1rem;
	}

	.blue-section {
		width:100%;
		height: auto;
		box-shadow: inset 0px 5px 20px 0px rgba(62,102,135,0.75);
	}

	.firstBlueScreen {
		width:auto;
		height:auto;
		padding-bottom: 100px;
	}

	.blueScreen {
		width:100%;
		padding: 25px 0px;
	}

	.donationlevel .donationamount {
		font-size: 1.5rem;
	}

	.redbutton.donationlevel {
		margin:5px;
	}

	.redbutton small {
	    font-size: 0.7rem;
	}

	.blueScreen {
		margin: 0;
	}

	.socialicons {
		top:auto;
		bottom:10px;
	}

	.otheramount, .otherdonatebutton {
		font-size: 1.2rem;
		-webkit-appearance: none;
	}


}
