.sliderWrapper {
	width:50%;
	height:100%;
	float:left;
	overflow:hidden;
	z-index: 1000;
}

.react-swipeable-view-container {
	height:100%;
}

.slide {
	height:100%;
	width:100%;
	cursor: grab;
}

.slide.grab {
	cursor: grab;
}

.slide.grabbing {
	cursor: grabbing;
}

.firstSlide {
	background: url("images/camila-before.jpg") center center;
	background-size: cover;
}

.secondSlide {
	background: url("images/camila-after.jpg") center center;
	background-size: cover;
}

.slideCaption {
	position: absolute;
	bottom:0;
	width:100%;
	min-height:25%;
	color: #fff;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 40%); /* W3C */
}

.slideCaption p {
	padding:20px 100px;
	text-align: left;
	font-size: 2rem;
	text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 1);
	font-family: LemonYellowSun;
}

.grab .slideCaption {
	opacity:1;
	transform: scaleY(100%);
	transform-origin: bottom;
	transition: 0.5s all ease;
}

.grabbing .slideCaption {
	opacity:0;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: 0.5s all ease;
}


@media (max-width: 768px) {
.sliderWrapper {
	width:100%;
	height: 50%;
}

.slideCaption p {
	padding: 5px;
	font-size:1.1rem;
}

.slide {
	height:100%;
}

}

