
/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2f0dd7");

  
@font-face {font-family: 'LemonYellowSun';src: url('fonts/lys/2F0DD7_0_0.eot');src: url('fonts/lys/2F0DD7_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/lys/2F0DD7_0_0.woff2') format('woff2'),url('fonts/lys/2F0DD7_0_0.woff') format('woff'),url('fonts/lys/2F0DD7_0_0.ttf') format('truetype');}

body {
  margin: 0;
  padding: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", Sans-Serif;
}

h1 {
	font-size: 2rem;
}

html, body, #root, .App {
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
	background: #6daadc;
	color: #fff;
}

